*{
  margin:0;
  padding:0;
  /* box-sizing: border-box; */
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #ccc;
  line-height: 1.8;
  height: 90vh;
  /* overflow: hidden; */
}

/* Smooth Scroll */
.container{
  width: 100%;
  height:90%;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  
}
 a {
text-decoration: none
 }
.navbar ul{
  display: flex;
  list-style: none;
  width:100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: orange;

}

.navbar ul li a:hover{
  color: grey;
}

/* look up SCSS */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* scroll-snap-align: center; */

}

section h1{
  font-size: 3rem;

}

section p{
  font-size: 1.2rem;

}

/* Section Images */

section#home{
  background:  radial-gradient(rgba(0,0,0, 0.54), rgba(0,0,0, 0.54)), url('images/blue.jpg') no-repeat center center/cover;
  
}

section#about{
  background:  radial-gradient(rgba(0,0,0, 0.54), rgba(0,0,0, 0.54)), url('images/rose.jpg') no-repeat center center/cover;
  
}

section#project{
  background:  radial-gradient(rgba(0,0,0, 0.54), rgba(0,0,0, 0.54)), url('images/darks.jpg') no-repeat center center/cover;
  
}

section#contact{
  background:  radial-gradient(rgba(0,0,0, 0.54), rgba(0,0,0, 0.54)), url('images/smoke.jpg') no-repeat center center/cover;
  position: relative;
}

.inputtext{
  width:55%;
  height:65px;
  border: 3px solid black;
  color: orange;
  background-color: rgba(0,0,0,0.7);
  font-size: 20px;
  padding: 0 10px;
  margin-bottom: 15px;
}

.inputmessage{
  width: 60%;
  height: 150px;
  border: 3px solid black;
  color: orange;
  background-color: rgba(0,0,0,0.7);
  font-size: 20px;
  padding: 0 10px;
}

.submitbutton {
  padding: 15px 45px;
  background: rgba(0,0,0,0.7);
  color: orange;
  font-size: 30px;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 5px;
}

.invisible {
  display: none;
}

.resetbutton{
  padding: 15px 45px;
  background: rgba(0,0,0,0.7);
  color: orange;
  font-size: 30px;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 5px;
}

.home h1 {
  font-size: 6rem;
  border-bottom: 1px solid orange;
  padding-bottom: 0px;
  color: #ccc;
}

.home h3 {
  font-size: 3rem;
  color: #555;
}

footer i {
  color: white;
  padding: 15px; 
}

footer {
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  border: 3;
  padding: 0 10px;
  float: left;
  margin-top: 35px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 50px;
}

.grid-3 {
  display:grid;
  grid-template-columns: 50% 50%;
  padding: 50px;
}

.contactform {
  margin: 0 auto;
}

.contactform form input {

}
#recaptcha {
  left: 0;
bottom: 0;
position: absolute;
}
